<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420658173709-sapngdaeiav69k0jvr560gs11fkl3t6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420658173709-sapngdaeiav69k0jvr560gs11fkl3t6a</string>
	<key>API_KEY</key>
	<string>AIzaSyBPYnWd77Hq6oz5-i-w7S76xWD6ExtzInk</string>
	<key>GCM_SENDER_ID</key>
	<string>420658173709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abuswaminathan.beer-app-test</string>
	<key>PROJECT_ID</key>
	<string>beertest-91693</string>
	<key>STORAGE_BUCKET</key>
	<string>beertest-91693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420658173709:ios:112639a7df54eecf</string>
	<key>DATABASE_URL</key>
	<string>https://beertest-91693.firebaseio.com</string>
</dict>
</plist>